@charset "UTF-8";

/* Itens Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* CSS */
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -- Header Inicio -- */
#topo {
    width: 100%;
    height: 15vh;
    background-color: gainsboro;
    position: relative;
}

#logo {                 /* Inicio Logotipo */
    width: 30%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin-left: 1%;
}                      
                         /* Fim Logotipo */


#social {                 /* Inicio Redes Sociais */
    position: absolute;
    top: 0%;
    left: 33%;
}

#social li {
    display: inline-block;
    padding-right: 10px;

}

#social a {
    color:darkred;
    font-size: 1.5em;
}

#social a:hover {
    color: rgb(194, 3, 3);
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}


                        /* Fim redes sociais */


#menu_div {                 /* Inicio Menu */
    width: 100%;
    height: auto;
    position: absolute;
    top: 43%;
}

#navegacao {
    width: 100%;
    height: 100%;
}
#navegacao ul {
    margin: 0;
    padding: 0;
}

#navegacao li {
    padding: 0;
}

#navegacao a {
    display: block;
    width: 100%;
    height: auto;
    padding: 3% 0;
    color: ghostwhite;
    background-color:darkred;
    text-align: center;
}

#navegacao a:hover {
    background-color: rgb(161, 51, 51);
    text-decoration: underline;
}
                            /* Fim Menu */

/* -- Header Fim -- */





/* -- Footer Inicio -- */

footer {
    padding: 2px 0;
    text-align: center;
    background-color: rgb(216, 213, 213);
    text-shadow: 1px 0px 1px rgb(31, 31, 31);
}

/* -- Footer Fim -- */


/* ----------------------------------------------------------------------------------------- */
/*                                  |       Query        |                                   */
/* ----------------------------------------------------------------------------------------- */

@media screen and (min-width: 480px) {
        
        /* -- Header Inicio -- */
    #topo {
        height: 10vh;
    }

    #logo {                 /* Inicio Logotipo */
        width: 22%;
    }

    #logo img {
        margin-left: 1%;
        margin-top: 8%;
    }                      
                            /* Fim Logotipo */


    #social {                 /* Inicio Redes Sociais */
        top: 13%;
        left: 33%;
        z-index: 1;
    }

    #social li {
        display: inline-block;
        padding-right: 10px;

    }

                            /* Fim redes sociais */


    #menu_div {                 /* Inicio Menu */
        top: 50%;
        left: 50%;
        width: 50%;
    }

    #navegacao ul {
        margin: -1em 1em 0 1em;
        padding: 0;
        float: right;
    }

    #navegacao li {
        display: inline-block;
        margin-left: 1em;
    }
    #navegacao li:last-child {
        margin-right: 1em;
    }

    #navegacao a {
        display: inline-block;
        padding: .5em;
        border-radius: 1em;
        
    }

    #navegacao a:hover {
        background-color: rgb(187, 1, 1);
        text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.699);
        box-shadow: 1px 1px 1px rgb(75, 0, 0);
    }
                                /* Fim Menu */

    /* -- Header Fim -- */




}


@media screen and (min-width: 720px) {
            
        /* -- Header Inicio -- */

        #logo {                 /* Inicio Logotipo */
            width: 15%;
        }
    
        #logo img {
            margin-top: 10%;
        }                      
                                /* Fim Logotipo */
    
    
        #social {                 /* Inicio Redes Sociais */
            top: -5%;
            left: 40%;
            font-size: 1.5em;
        }
    
                                /* Fim redes sociais */
    
        /* -- Header Fim -- */
    
    

        /* -- Footer Inicio -- */

        footer {
            padding: 10px 0;
        }

        /* -- Footer Fim -- */

}


@media screen and (min-width: 861px) {


}



@media screen and (min-width: 1000px) {


}